@model JamSpotApp.Models.Group.DeleteGroupViewModel

@{
    ViewData["Title"] = "Delete Group";
}

<link rel="stylesheet" href="~/css/CreateGroup.css" asp-append-version="true" />

<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="Group-container">
        @* Показване на съобщения за грешки *@
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (Model != null)
        {
            <h2 class="mt-2">Are you sure you want to delete the group "@Model.GroupName"?</h2>

            <div>
                <p><strong>Organizer:</strong> @Model.Creator</p>

                <form asp-action="DeleteConfirmed" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Cancel</a>
                </form>
            </div>
        }
        else
        {
            <div class="alert alert-danger text-center" role="alert">
                Group not found.
            </div>
        }
    </div>
</div>
