@using JamSpotApp.Models.Group
@model GroupDetailsViewModel

<div class="group-details">
    <img src="@Model.Logo" alt="Group Logo" class="group-logo" />
    <h2>@Model.GroupName</h2>
    <p>Genre: @Model.Genre</p>
    <p>Description: @Model.Description</p>
    <p>Created by: @Model.Creator</p>

    @if (Model.IsOwner)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Group</a>
    }
</div>
