@model IEnumerable<JamSpotApp.Models.Event.EventViewModel>

    @if (Model == null || !Model.Any())
    {
        <p class="text-center">No events yet.</p>
    }
    else
    {
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var eventItem in Model)
        {
            <div class="col">
                <div class="card h-100 rounded-4 custom-navbar">
                    <div class="card-header bg-dark text-white rounded-4">
                        <h5 class="card-title mb-1">@eventItem.EventName</h5>
                        @if (eventItem.Price == 0)
                        {
                            <span class="badge bg-success">Free</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">@eventItem.Price BGN</span>
                        }
                        <p class="card-text mb-1 float-end"><strong>Organizer:</strong> @eventItem.Organizer</p>
                    </div>

                    <div class="card-body">
                        <p class="card-text"><strong>Description:</strong> @eventItem.EventDescription</p>
                        <p class="card-text">
                            <strong>Location:</strong>
                            @if (Uri.IsWellFormedUriString(eventItem.Location, UriKind.Absolute))
                            {
                                <a href="@eventItem.Location" target="_blank" class="btn btn-primary btn-sm">Open Location</a>
                            }
                            else
                            {
                                @eventItem.Location
                            }
                        </p>
                    </div>

                    <div class="card-footer d-flex justify-content-between align-items-center border-secondary">
                        <div>
                            <p class="mb-0"><strong>Date:</strong> @eventItem.Date</p>
                            <p class="mb-0"><strong>Hour:</strong> @eventItem.Hour</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }