@model JamSpotApp.Models.Home.IndexViewModel
@using JamSpotApp.Models.Event
@using JamSpotApp.Models.Home

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="container">
    <main role="main" class="pb-3">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        @if (ViewBag.AdminMessages != null && ViewBag.AdminMessages.Count > 0)
        {
            <div class="admin-messages">
                @foreach (var message in ViewBag.AdminMessages)
                {
                    <div class="admin-message alert alert-warning">
                        <h1 class ="text-danger">Admin</h1>
                        <h4>@message.Title</h4>
                        <p>@message.Content</p>
                        <small>Posted by @message.Username on @message.CreatedAt.ToString("g")</small>
                    </div>
                }
            </div>
        }

        <!-- Header Section -->
        <div class="mt-4 p-5 custom-navbar text-white rounded">
            <h1 class="d-flex justify-content-center">JamSpot</h1>

            <form asp-action="Search" asp-controller="Home" method="get" class="d-flex justify-content-center mt-3">
                <div style="position: relative; width: 50%;">
                    <input id="searchInput" class="form-control me-2" type="text" name="query" placeholder="Search for users or groups" autocomplete="off">
                    <div id="dropdownMenu" class="dropdown-menu" style="display: none; position: absolute; width: 100%; z-index: 1000;"></div>
                </div>
                <button class="btn btn-outline-primary ms-2" type="submit">Search</button>
            </form>
        </div>

        <!-- Events Section -->
        <h3 class="d-flex justify-content-center mt-5">Events</h3>
        <partial name="Events" model="Model.Events" />

        <!-- Posts Section -->
        <h3 class="d-flex justify-content-center mt-5">Posts</h3>
        <partial name="Posts" model="Model.Posts" />
    </main>
</div>

<script src="~/js/Home.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
