@model JamSpotApp.Models.Home.SearchResultsViewModel

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="container mt-5">
    <div class="mt-4">
        @if (Model.Users.Any())
        {
            <h3>Users</h3>
            <div class="list-group mb-4">
                @foreach (var user in Model.Users)
                {
                    <a href="/User/All/@user.Id" class="list-group-item list-group-item-action d-flex align-items-center">
                        @if (!string.IsNullOrEmpty(user.AvatarUrl))
                        {
                            <img src="@user.AvatarUrl" alt="@user.UserName" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                        }
                        else
                        {
                            <img src="~/images/default-avatar.png" alt="Default Avatar" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                        }
                        <span>@user.UserName</span>
                    </a>
                }
            </div>
        }
        else
        {
            <p>No users found.</p>
        }

        @if (Model.Groups.Any())
        {
            <h3>Groups</h3>
            <div class="list-group">
                @foreach (var group in Model.Groups)
                {
                    <a href="/Group/Details/@group.Id" class="list-group-item list-group-item-action d-flex align-items-center">
                        @if (!string.IsNullOrEmpty(group.LogoUrl))
                        {
                            <img src="@group.LogoUrl" alt="@group.GroupName" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                        }
                        else
                        {
                            <img src="~/images/default-group.png" alt="Default Group Logo" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                        }
                        <span>@group.GroupName</span>
                    </a>
                }
            </div>
        }
        else
        {
            <p>No groups found.</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
