@using JamSpotApp.Models.User
    @model UserViewModel

<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <!-- Profile Picture -->
                <div class="d-flex justify-content-center">
                    <img src="@Model.ProfilePicture" alt="Profile Picture" class="rounded-circle border border-secondary" style="width: 120px; height: 120px;">
                </div>

                <!-- Username -->
            <h3 class="mt-3">@Model.UserName</h3>

                <!-- Bio -->
            <p class="text-muted">@Model.UserBio</p>

                <!-- Instrument -->
            <p><strong>Instrument:</strong>@Model.Instrument</p>
            @if (User?.Identity?.Name == Model.UserName)
            {
                <!-- Edit Button -->
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-light ms-4">Edit Profile</a>
                </div>
            }

            <div class="mt-5">
                <h4>Pinned Songs</h4>
                <div>
                    @await Html.PartialAsync("All", new List<JamSpotApp.Data.Models.Song>())
                </div>
            </div>
            </div>
        </div>
    </div>
<script>
    function showSongs() {
        document.getElementById('songs-section').style.display = 'block';
        document.getElementById('albums-section').style.display = 'none';
        document.getElementById('songs-tab').classList.add('active');
        document.getElementById('albums-tab').classList.remove('active');
    }

    function showAlbums() {
        document.getElementById('songs-section').style.display = 'none';
        document.getElementById('albums-section').style.display = 'block';
        document.getElementById('albums-tab').classList.add('active');
        document.getElementById('songs-tab').classList.remove('active');
    }
</script>
